<label>Secret Section</label>
<input type='text' class='form-control' [(ngModel)]='pw'>
<button class='btn btn-primary' (click)='onCreatePassword()'>Create New Password</button>
<div>
  <p>Number of Secrets: {{ passwords.length }}</p>
  <p>{{ pw }}</p>
</div>
<hr/>
<p *ngIf='passwordCreated'>Secret Password was created: {{ pw }}</p>
<div
  *ngFor='let password of passwords; let i = index'
  [ngStyle]='{ backgroundColor: i >= 5 ? "blue" : "white" }'
  [ngClass]='{ "high": i >= 5 }'>
  {{ password }}
</div>
